#back-to-top-btn {
  color: white;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  min-width: 50px;
  width: 4%;
  aspect-ratio: 1/1;
  font-size: clamp(30px, 0.01vw, 200px);
  background: #0a0644;
  cursor: pointer;
  outline: none;
  border: 3px solid rgb(16, 3, 54);
  border-radius: 50%;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;

  &:hover,
  &:focus{
    background: #120c6e;
  }
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}