.dropdown-toggle {
  text-align: left;
  background: white !important;
  color: #212529 !important;
  position: relative;

  &::after {
    position: absolute;
    top: 45%;
    right: 10px;
    font-size: 19px;
  }
}

.dropdown-item {
  color: white;
  padding: 8px 10px;
  cursor: pointer;
  &.active,
  &:active,
  &:hover {
    background: #373c49;
    color: white;
  }
}

.dropdown-menu {
  width: 300px;
  padding: 8px 10px !important;
  background: rgb(42, 48, 60);
}