.botonconfirm {
  background: #157347;
  color: white;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}

.botondeny {
  background: #0f0924;
  color: white;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}

.botoncancel {
  background: #be0000;
  color: white;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}

.textovista {
  text-align: center;
  position: absolute;
  font-size: 22px;
  color: #545151;
  font-weight: 500;
}

#mostrartabla {
  margin: 0 auto;
}
