.tabs, .tabs-swal {
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
  margin-top: 10px;
  justify-content: center;
}

.tabs__label, .agregarcamion {
  padding: 12px 20px;
  cursor: pointer;
  background-color: #0f0924;
  font-size: 15px;
  color: white;
  height: 50px;
  display: grid;
  align-items: center;
  transition: font-size 200ms;
}

.agregarcamion{
    width: 60px;
    margin-left: 1px;
    padding: 10px 16px;
}

hr {
  min-width: calc(100vw - 9rem);
}

html,
body,
main {
  width: fit-content;
}

.tabs__radio {
  display: none;
}

.tabs__content:not(:first-child) {
  order: 1;
  display: none;
  width: 100%;
}

.tabs__radio:checked + .tabs__label {
  font-weight: bold;
  color: white;
  background-color: #009578;
  border-bottom: 2px solid #009578;
}

.mas {
  font-size: 35px;
  translate: 0 -10px;
  text-align: center;
}

.tabs__radio:checked + .tabs__label + .tabs__content {
  display: initial;
}

.label-swal{
  margin-bottom: 10px;
  width: 150px;
  height: 56px;
}