table,
th,
td {
  border-collapse: collapse;
  border: solid 1px #ccc;
  padding: 10px 20px;
  text-align: center;
  color: white;
  font-size: 15px;
}

td {
  line-height: 1.4;
  height: 42px;
  min-height: 42px;
}

th {
  background: #192435;
  width: 90px;
  min-width: 90px;
  text-align: center !important;
}

.pintarcolumnas col:nth-child(2n) {
  background: #024649;
}

.pintarcolumnas col:nth-child(2n + 1) {
  background: #192435;
}

.prod {
  min-width: 200px;
  width: 200px;
}

.tr {
  min-width: 115px;
  width: 115px;
}

td:nth-last-of-type(1),
td:nth-last-of-type(2),
td:nth-of-type(2),
td:nth-of-type(1) {
  background-color: rgb(15, 13, 53);
}

td:hover,
td:focus {
  background: #67abb1;
}

.total {
  text-align: right;
}

tfoot td:first-child {
  text-align: right;
}

.tabs {
  margin-bottom: 10px;
}

th {
  position: relative;
}

.grupotabs {
  .cerrarconboton{
    &.contenidotabs .borrarfilas,
    &.contenidotabs .borrarcolumnas,
    &.tabs .tabs__label {
      position: relative;
      &::after {
        content: "❌";
        position: absolute;
        text-shadow: 0, 0, 5, white;
        top: 0;
        right: 0;
        color: red;
        cursor: pointer;
        font-weight: bold;
      }
    }
  }

  .contenidotabs.ordenarAlfabeticamente {
    th:not([colspan="2"])::after {
      content: var(--flecha, "↓");
      font-size: 20px;
      margin-left: 5px;
      transform: translateY(-4px);
      position: absolute;
    }
    
    th.activo:not([colspan="2"])::after {
      background-color: #2929a5;
      box-shadow: 0 0 20px 1px #3737e5;
    }
  }
}