<div class="dropdown">
  <label for="rol">Rol</label>
  <button class="btn dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="rol">Escoge un rol</button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item">Administrador</a></li>
    <li><a class="dropdown-item">Empleado</a></li>
  </ul>
</div>