<div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title headerModal" id="modal">Verificación de identidad</div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <div class="cuerpoModal1">Demustra que de verdad eres tú quien intenta realizar esta acción</div>
        <i class="fa-solid fa-lock"></i>
        <div class="cuerpoModal2">Ingresa la contraseña de tu usuario</div>
        <div class="cuerpoModal3">
          <input type="password" id="verificacionIdentidad" autofocus>
          <i class="fa-sharp fa-solid fa-eye escondido"></i>
          <i class="fa-sharp fa-solid fa-eye-slash"></i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success margenbotonswal botonconfirm" id="enviarVerificacion">Confirmar</button>
        <button type="button" class="btn btn-danger margenbotonswal botoncancel" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>