.dropdown-menu {
  color: white;
  background: linear-gradient(35deg, #012249, #09234b, #012249);
  border: none;
}

.datepicker {
  width: 350px;
  height: 330px;
  box-sizing: content-box;
  padding: 7px;
  border: 1px solid black;
  transform: translateX(-2px);
  font-weight: 500;

  .prev,
  .next {
    font-size: 30px;
    height: 50px;
    width: 50px;
    transform: translateY(-5px);
  }

  .datepicker-switch {
    width: 250px !important;
    height: 50px !important;
    font-size: 20px;
  }

  td.day.focused,
  span.focused,
  td.day:hover,
  .datepicker-switch:hover,
  .next:hover,
  .prev:hover,
  .th:hover,
  span:hover,
  td.today:hover {
    background: #317da0 !important;
    color: white !important;
  }

  td.active,
  span.active,
  td.active, 
  .range-start.day,
  .range-end.day {
    background: #2013a3 !important;
    box-shadow: 0 0 10px 3px;
  }

  span.year.focused:has(+ .year.active){
    background: inherit !important;
  }

  .datepicker-years span.year.focused:hover{
    background: #317da0 !important;
  }
}

.table-condensed {
  width: 100% !important;
  height: 100% !important;
}

tfoot {
  display: none;
}

.datepicker-days th,
.datepicker-days td {
  width: 50px !important;
  height: 40px !important;
}

.datepicker-months tbody td,
.datepicker-years tbody td {
  height: 280px;
}

.datepicker table tbody td span {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.datepicker-dropdown::after {
  border-bottom: 6px solid #09234b;
}

td.today {
  color: white !important;
  background: inherit !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

td.today::after {
  content: "(Hoy)";
  font-size: 11px;
  transform: translateY(-2px);
  font-weight: 600;
}

.divdatepicker {
  width: 360px;
  display: inline-block;
}

.datepicker-dropdown.datepicker-orient-top:after{
  border-top: 6px solid #ddd;
}

.range.day{
  background: #2f78b7 !important;
}

input{
  text-align: center !important;
}