.midnight-blue {
  box-shadow: 0 10px 50px -20px rgba(19, 31, 51, 0.65);
  border: 2px solid #222831;
  color: #EEEEEE;

  .calendar-sidebar {
    background: #222831;
    border-right: 2px solid #222831;
    box-shadow: 0 0 18px -3px rgba(0, 0, 0, 0.65);

    &>.month-list {
      &::-webkit-scrollbar-thumb:hover {
        background: #cee1ff;
      }

      &>.calendar-months>li {
        text-transform: uppercase;

        &:hover {
          background-color: rgba(255, 255, 255, 0.20);
        }

        &.active-month {
          background-color: #00adb5;
          font-weight: 600;
        }
      }
    }

    &>span#sidebarToggler {
      right: -2px;
    }

    &>.calendar-year>button.icon-button>span {
      border-width: 4px;
    }
  }

  .calendar-sidebar>.calendar-year>button.icon-button>span,
  button.icon-button>span.chevron-arrow-right {
    display: block;
    border-right: 6px solid #00adb5;
    border-bottom: 6px solid #027e84;
  }

  &.sidebar-hide .calendar-sidebar {
    box-shadow: none;
  }


  button.icon-button>span.bars {
    background-color: #00adb5;

    &::before {
      background-color: #12cbd4;
    }

    &::after {
      background-color: #027e84;
    }
  }

  .calendar-sidebar>span#sidebarToggler,
  #eventListToggler {
    background-color: #222831;
    /* right: -2px; */
    box-shadow: 0 0 18px -3px rgba(0, 0, 0, 0.65);
  }

  .calendar-inner {
    background-color: #393e46;
    box-shadow: 5px 0 18px -3px rgba(0, 0, 0, 0.35);
    height: 100%;

    td {
      color: #fff;
    }
  }

  th[colspan="7"] {
    position: relative;
    font-size: 30px;
    color: #00adb5;

    &::after {
      content: '';
      display: block;
      width: 92%;
      height: 1px;
      margin: 0 auto;
      background: #027e84;
    }
  }

  tr.calendar-body .calendar-day .day {
    border-width: 2px;
    border-radius: 0;
    color: #fff;

    &:hover {
      background-color: rgba(255, 255, 255, 0.12);
      color: #00f4ff;
    }

    &.calendar-today {
      background: #00adb5;
    }

    &.calendar-active,
    &.calendar-active:hover {
      border-color: #EEEEEE;
      color: #EEEEEE;
    }

    &.calendar-today:hover {
      color: #EEEEEE;
    }
  }

  .calendar-events {
    background-color: #192435;
    padding: 30px 20px 60px 20px;

    &::-webkit-scrollbar-thumb {
      background: #fff;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #cee1ff;
    }

    p {
      color: #EEEEEE;
    }
  }

  .calendar-inner::after {
    background-color: rgba(25, 36, 53, 0.65);
  }

  .event-container {
    border-radius: 0;

    &:hover {
      background-color: #5d6979;
    }

    &>.event-icon>div {
      border: 2px solid transparent;
    }

    &:hover>.event-icon>div {
      border-color: #fff;
    }

    &>.event-info>p.event-title>span {
      color: #fff;
      border-radius: 0;
      background-color: rgba(0, 173, 181, .15);
      border: 1px solid #00adb5;
    }

    &:hover>.event-info>p.event-title>span {
      background-color: rgb(0 173 181);
    }
  }

  .event-container>.event-icon>div.event-bullet-birthday,
  .event-indicator>.type-bullet>div.type-birthday {
    background-color: #6c72bf;
  }

  .event-list>.event-empty {
    background-color: rgba(0, 173, 181, 0.15);
    border: 1px solid #00adb5;

    &>p {
      color: #ffff;
    }
  }
}