html,
body {
	padding: 0;
	margin: 0;
}
body {
	background-attachment: fixed;
	background-image: linear-gradient(45deg, #6ac1c5, #bda5ff);
	background-repeat: no-repeat;
	min-height: 100vh;
}
::selection {
	color: #fff;
	background-color: #aeaaf5;
}
::-webkit-scrollbar {
	width: 10px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: #8e899c;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #6c6875;
}

main {
	position: relative;
	width: 100%;
}
.main-container {
	padding-top: 80px;
	max-width: 1366px;
	width: 100%;
	margin: 0 auto;
	min-height: 100vh;
}
section {
	padding: 20px;
}