@use "./partials/tablassimples";
@use "./partials/tituloplantillas";
@use "./partials/botonazul";
@use "./partials/flecha";
@use "./partials/flecharotada";

body {
  background: #191d31;
  margin: 0;
  padding: 0;
  color: white;
  min-width: 1000px;
}

.contenedorinferior {
  position: relative;
  margin-top: 25px;
}

.botoneliminar {
  background-color: transparent;
  border-color: transparent;
  display: inline-block;
  width: 100%;
  height: 100%;
}

td {
  line-height: 35px;
  min-width: 100px;
}

.form-switch,
.form-check-label {
  font-size: 16px;
  color: white;
}


.contenedormedio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.nombreplantilla {
  margin-left: 30px;
}

#nombreplantilla {
  width: 100%;
  max-width: 250px;
}

.filasuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 5px;
}

.filasuperior > *{
  flex-grow: 1;
  width: fit-content;
  max-width: fit-content;
}

.contenedorayuda {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 2px;
}

.swal2-actions {
  margin: 0 !important;
  margin-top: 30px !important;
  & .btn-success{
    margin-right: 20px;
  }
}

.margenboton {
  box-sizing: border-box !important;
  width: 120px;
}

.enfocar {
  background: #24c2ce !important;
}

.swal2-title,
.swal2-html-container span{
  color: #4e4e4e !important;
}

.swal2-html-container span{
  font-size: 40px;
}