@use "./partials/dropdown";

.textoeliminar {
  color: red;
}

.contenedoreliminar {
  display: inline;
  position: absolute;
  right: 0;
  border: solid red 1.5px;
  justify-content: center;
  width: 180px;
  padding: 10px;
  margin-right: 20px;
  transform: translateY(15px);
}

.button2 {
  transform: translateX(-70px);
}

.contenedorsuperior{
  margin: 20px 0 5px;
}

.contenedorinferior{
  margin-top: 25px;
}