@use "./partials/tituloplantillas";
@use "./partials/botonazul";
@use "./partials/flecha";
@use "./partials/flecharotada";
@use "./partials/modal";
@use "./partials/dropdownRoles";

body {
  background: #191d31;
  color: white;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

.filasuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.button2 {
  transform: translateX(-70px);
}

form {
  width: 300px;
}

.botontitulo {
  width: 330px;
}

@media (max-width: 1200px) {
  .button2 {
    transform: translateX(10px);
  }
}

.modal-dialog.modal-lg {
  min-width: 750px;
}

.form-control {
  margin-bottom: 20px;
}

.contenedorinferior {
  margin-top: 25px;
}

form i {
  position: absolute;
  right: -38px;
  top: 55%;
}

.divcontraseña {
  position: relative;
}

body>#toast-container>div:hover{
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  opacity: 0.9;
}

#toast-container>.toast::before {
  position: absolute;
  font-family: FontAwesome;
  font-size: 24px;
  top: calc(50% - 16px);
  float: left;
  color: #FFF;
  padding-right: 0.5em;
  margin: auto 0.5em auto -1.5em;
}

body>#toast-container>.toast-error {
  background-image: none !important;
}

#toast-container>.toast-error::before{
  content: "\f06a";
  animation-name: fa-bounce;
  animation-direction: normal;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.28, .84, .42, 1);
  animation-iteration-count: 1;
  animation-delay: 500ms;
}

body>#toast-container>.toast-info {
background-image: none !important;
}

#toast-container>.toast-info:before {
  content: "\f0e0";
}