@use "./partials/tituloplantillas";
@use "./partials/botonazul";
@use "./partials/flecha";
@use "./partials/flecharotada";
@use "./partials/modal";

body {
  background: #191d31;
  color: white;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

.filasuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.button2 {
  transform: translateX(-70px);
}

form {
  width: 300px;
}

.botontitulo {
  width: 330px;
}

@media (max-width: 1200px) {
  .button2 {
    transform: translateX(10px);
  }
}

.modal-dialog.modal-lg {
  min-width: 750px;
}

.form-control {
  margin-bottom: 20px;
}

.contenedorinferior {
  margin-top: 25px;
}

.divinput{
  width: 300px;
  position: relative;
  .fa-eye-slash{
    transform: translateX(2px);
  }
}

form i {
  position: absolute;
  right: -38px;
  top: 55%;
}