@use "./partials/tablassimples";
@use "./partials/tituloplantillas";
@use "./partials/dropdown";
@use "./partials/botonazul";
@use "./partials/flecha";
@use "./partials/flecharotada";

body {
  background: #191d31;
  margin: 0;
  padding: 0;
  color: white;
  min-width: 1000px;
}

.contenedorsuperior {
  position: relative;
}

.contenedorinferior {
  position: relative;
}

.botoneliminar {
  background-color: transparent;
  border-color: transparent;
  display: inline-block;
  width: 100%;
  height: 100%;
}

td {
  line-height: 35px;
}

.form-switch,
.form-check-label {
  font-size: 16px;
  color: white;
}


.contenedoreliminar {
  display: inline;
  position: absolute;
  right: 0;
  justify-content: center;
  width: 180px;
  padding: 10px;
  margin-right: 20px;
  background: rgb(216, 12, 12);
  border: 1.5px solid rgb(159, 7, 7);
  transform: translateY(15px);
}

.contenedoreliminar:hover {
  cursor: pointer;
  background: rgb(159, 7, 7);
}

.contenedoreliminar svg {
  fill: white;
}

.contenedormedio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
}

.nombreplantilla {
  margin-left: 30px;
}

#nombreplantilla {
  width: 100%;
  max-width: 250px;
}

.filasuperior {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.button2 {
  transform: translateX(-60px);
}

.switchmodoseguro {
  margin-left: auto;
}

.contenedorayuda {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-left: auto;
}

.piedepagina {
  font-size: 12px;
}

.swal2-actions {
  margin: 0 !important;
  margin-top: 30px !important;
  justify-content: space-evenly !important;
}

.margenboton {
  box-sizing: border-box !important;
  width: 120px;
}

.contenedorinferior{
    margin-top: 25px;
}