.botonconfirm {
  background: #157347;
  color: white;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}

.botondeny {
  background: #0f0924;
  color: white;
  width: 200px;
  height: 60px;
  margin-right: 10px;

  &:hover {
    color: #FFF;
  }
}

.botoncancel {
  background: #be0000;
  color: white;
  width: 200px;
  height: 60px;
  margin-right: 10px;
}

.margenbotonswal{
  width: 140px;
  height: 50px;
  font-weight: 500;
  &:not(.btn-success){
    margin-left: 40px;
  }
}