@use "./partials/botonazul";
@use "./partials/tablassimples";
@use "./partials/swal";

body {
  background: #191d31;
  margin: 0;
  padding: 0;
  color: white;
  min-width: 1200px;
  width: fit-content;
}

.botonpdf {
  position: absolute;
  right: 0;
  bottom: 0;
}

.botonexcel {
  position: absolute;
  left: 0;
  bottom: 0;
}

.dropdown {
  width: 300px;
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}

label {
  font-size: 18px;
  white-space: nowrap;
}

.dropdown-toggle {
  text-align: left;
  color: #f5f5f5 !important;
  background: var(--bs-btn-active-bg) !important;
  border-color: #dfdfdf !important;
  position: relative;

  &::after {
    position: absolute;
    top: 45%;
    right: 10px;
    font-size: 18px;
  }
}

.dropdown-item {
  color: #dfdfdf;
  padding: 8px 10px;
  cursor: pointer;

  &.active,
  &:active,
  &:hover {
    background: #373c49;
    color: #dfdfdf;
  }
}

.dropdown-menu {
  width: 300px;
  padding: 8px 10px !important;
  background: rgb(42, 48, 60);
}

article {
  // margin-top: 50px;
}

.accordion-button {
  color: white;
  background: #192435;
  background: #0e1a2e;
  font-size: 20px;
  box-shadow: var(--bs-accordion-btn-focus-box-shadow) !important;
  border-radius: 5px !important;

  &:not(.collapsed) {
    color: white;
    background: #192435;
    background: #0e1a2e;
    box-shadow: none;
  }
}

.camioneros {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #2a303c;
  background-color: #14213a;
  padding: 15px;
  row-gap: 10px;
}

.camioneros2 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.camionero {
  width: 100%;
  display: inline-grid;
  font-size: 18px;
}

.camionero2 {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.contenedor-color {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  padding: 10px;
  justify-self: center;
}

.textoCamionero {
  grid-column: 2 / span 15;
  grid-row: 1 / span 1;
  align-self: center;
}

.nombreCamionero {
  grid-column: 2 / span 15;
  grid-row: 2 / span 1;
  align-self: flex-start;
}

.accordion-body {
  padding: 0;
  user-select: none;
  color: white;

  .accordion-body {
    box-shadow: 0 0 5px blue;
  }
}

.seccioncamioneros {
  padding: 0 20px 5px;
}

.accordion-item {
  border: none;
  background: currentColor;
}

.accordion-button::after {
  background-image: var(--bs-accordion-btn-active-icon);
}

// canvas{
//   // height: 589px !important;
//   // aspect-ratio: 2;
// }

.contenedormedio {
  height: 80px;
  width: 100%;
  position: relative;
}

.tituloProductos,
.contenedorabajo {
  font-size: 22px;
  text-align: center;
  background: #051533;
  padding: 20px 0 10px;
}

.contenedorabajo {
  box-shadow: 0 0 5px darkslateblue;
  padding: 15px 0;
}

.tituloProductos {
  margin-left: auto;
}

.contenedorotrasopciones {
  background: #14213a;

  &>.tituloopciones {
    box-shadow: 0 0 2px white;
  }
}

.tituloacordeon {
  border: none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  outline: none !important;
  height: 63px;
}

.acordeonroot {
  z-index: 9999;
}

custom-radiobutton {
  padding: 15px 20px;
  margin-right: 0;
}

.form-check-inline {
  margin-right: 5px;
}

.tituloopciones {
  font-size: 20px;
  text-align: center;
  padding: 15px;
}

hr {
  margin: 0;
}

.conmargen {
  margin: 25px;
}

.headeracordeon {
  //  border: 1px solid blue;
  //  border-top: none;
  box-shadow: 0 0 10px darkslateblue;
  border-bottom: 1px solid darkslateblue;
}

.accordion {
  background: transparent;
}

.botonreset {
  padding: 15px;
  background: #081038;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;

  button {
    width: fit-content;
  }
}

.contenedoropcion {
  padding: 5px 25px;
}

// .contenedorCanvas {
//   width: 1179px;
//   height: 589px;
// }

.contenedorCanvas {
  width: 100%;
  height: 589px;
}

custom-graficos {
  display: inline-block;
  width: fit-content;
  min-width: 1179px;
  margin-bottom: 5px;
}

.convertira {
  font-size: 17px;
  width: 210px;
  height: 58px;
  padding: 15px;
  position: absolute;
  left: 50%;
  translate: -50%;
  bottom: 0;
}

th,
td {
  padding: 13px 15px;
}

th {
  min-width: 165px;
  max-width: 240px;
}

table {
  padding: 0;
  margin-top: 20px;
}

.multiple td:last-child,
tfoot td:not(:first-child) {
  position: relative;

  &::after {
    content: "";
    height: 1px;
    display: block;
    background-color: white;
    position: absolute;
    width: calc(100% - 30px);
  }
}

.contenedorTabla {
  width: fit-content;
}

.tituloTabla {
  text-align: center;
  margin-top: 20px;
  font-size: 26px;
}

.btnTamaño {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 25px;
  font-weight: 500;
  font-family: inherit;
  background-color: #0b2346;
  height: 45px;
  cursor: pointer;
  width: 45px;
  transition: border-color 0.25s;
  color: white;
}

.contenedorAbajoDeLosDatos {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  height: 75px;
}

.gridBotonesTamaño {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 2fr;
  column-gap: 5px;
  width: 100px;
}

.textoTamaño {
  grid-column: 1/3;
  text-align: center;
  font-size: 20px;
}

.restaurarTamaño {
  width: 90px;
  font-size: 16px;
  display: none;
}

.uneOSeparaDatos {
  padding: 0 20px;
  font-size: 18px;
}

.primeraCelda {
  min-width: 250px;
}

.seleccionarTodos {
  font-size: 18px;
  justify-self: flex-start;
}

.contenedorEliminarData {
  font-size: 18px;
  margin-top: 8px;
}

.separadorCharts {
  margin: 20px 0;
  box-shadow: 0 0 10px 3px blue;
}

////////////////////////////////////CSS PODIO////////////////////////////////////////////////////

#podium-box {
  display: flex;
  height: 250px;
}

#first-step {
  height: 65%;
}

#second-step {
  height: 45.5%;
}

#third-step {
  height: 39%;
}

.podium-number {
  font-family: DaggerSquare;
  font-weight: bold;
  font-size: 4em;
  background-color: #051624;
  color: white;
  text-align: center;
}

.step-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.step-container> :first-child {
  margin-top: auto;
}

.titulopodio {
  font-size: 24px;
  text-align: center;
}

.canvaspodio {
  position: absolute;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedorPodio {
  width: 580px;
  height: fit-content;
  position: relative;
}

.tituloGrupoPodios {
  text-align: center;
}

.grupoPodios {
  display: flex;
  gap: 15px;
}

.tituloSalonDeLaFama {
  text-align: center;
  font-weight: 600;
  background: radial-gradient(ellipse at center, #443501 0%, #000000 100%);

  span {
    font-size: 45px;
    background-image: linear-gradient(to right, #a57c3e 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #a57c3e 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.tituloGrupoPodios {
  font-size: 35px;
  margin: 20px 0;
  color: aquamarine;
  box-shadow: 0 0 10px;
}

.checkboxAnimacion {
  margin: 20px 0;
}

.ocultarresumen {
  padding: 15px 30px;
  font-weight: 500;
  justify-self: flex-end;
  align-self: center;
  svg {
    rotate: 90deg;
  }
}

.gridresumen{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}