@mixin svgNavLinks {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
  fill: #efefef;
}

@mixin nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
}

:root {
  font-family: "Open Sans";
  --text-primary: #efefef;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

main {
  margin-left: calc(5rem + 30px);
  margin-top: 5px;
  margin-right: 30px;
  padding: 1rem;
}

.navbar {
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  z-index: 99999;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  margin: 0;
  padding: 0;
  height: 100%;

  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: inherit;
  }
  &::-webkit-scrollbar-thumb {
    background: #8e899c;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #6c6875;
  }

  @media (min-width:1300px) {
    &::-webkit-scrollbar {
      width: 11px;
    }
  }
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-item {
  user-select: none;
  width: 100%;

  .submenu {
    display: none;
  }
}

.nav-link {
  @include nav-link;
  filter: grayscale(100%) opacity(1);
  transition: var(--transition-speed);

  &:focus,
  &:hover {
    color: var(--text-primary);
  }

  &:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }

  svg {
    @include svgNavLinks;
  }
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;

  svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
  }
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar {
  top: 0;
  width: 5rem;
  height: 100%;
}

.navbar.presionado {
  width: 15rem;

  .link-text {
    display: inline;
  }

  .logo svg {
    margin-left: 11rem;
    transform: rotate(-180deg) translateX(-10px);
  }

  .logo-text {
    left: 0px;
  }

  .nav-item-compuesto>.nav-link::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
    position: absolute;
    right: 20px;
    top: 50%;
    transition: 0.3s;
  }
  

  .presionado.nav-item-compuesto>.nav-link::after {
    transform: rotate(180deg);
  } 
}

.submenu {
  list-style: none;
  height: auto;

  .nav-item {
    background: #2f2f3e;
  }

  .nav-item:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
    transition: var(--transition-speed);
  }

  .nav-link-submenu {
    position: relative;
    @include nav-link;
    svg {
      @include svgNavLinks;
    }
  }

  .margen-submenu{
    --margen: 10px;
    margin-left: var(--margen);
    width: calc(100% - var(--margen));
    display: flex;
  }

  .nav-link-submenu::before {
    content: "‣";
    font-size: 35px;
    position: absolute;
    margin-left: 10px;
  }

  @media (max-width: 1200px) {
    .nav-link-submenu::before {
      font-size: 20px;
    }
  }

  .link-text {
    margin-left: -5px;
  }
}

.nav-item-compuesto{
  cursor: pointer;
  position: relative;
}