:root{
  --alturaCaja: 465px;
}

.olvidemicontraseña{
  transform: translateX(60px);
}

.divvolver{
  position: absolute;
  top: 5;
  left: 7;

  a{
    text-decoration: none;
  }
}

.volver{
  color: #0dd2db;
  font-size: 20px;
}