:root{
  --alturaCaja: 465px;
}

.olvidemicontraseña{
  transform: translateX(60px);
  margin-top: 30px;
  translate: 0;
}

.divvolver{
  position: absolute;
  top: 15px;
  left: 15px;

  a{
    text-decoration: none;
  }
}

.volver{
  color: #09c5c5;
  font-size: 20px;
}