@use "./partials/dropdown";
@use "./partials/tablacompleta";
@use "./partials/fondo";
@use "./partials/tabs";
@use "./partials/swal";

@mixin botonRegistrarVentasHoverFocusActive {
  &:focus,
  &:active,
  &:hover {
    background-color: #244569;
    box-shadow: 0 0 0 0.1rem rgb(49 132 253 / 50%) !important;
    cursor: pointer;
  }
}

input {
  width: 100%;
  border: none;
  max-width: 200px;
}

.enfocar {
  background: #24c2ce !important;
}

#mostrartabla {
  margin: 0 auto;
}

.añadirproductoyviaje {
  background-color: #112438;
  border: 1px solid #036891;
  height: 45px;
  width: 190px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  @include botonRegistrarVentasHoverFocusActive;
}

.ultima-modificacion {
  color: white;
  font-weight: 600;
  margin-left: auto;
}

.form-switch,
.form-check-label {
  font-size: 16px;
}
.form-control {
  &:focus {
    box-shadow: none;
  }
}

.trabajador {
  height: 33px;
  font-size: 15px;
  display: inline-block;
  padding: 6px;
  border-radius: 0;
}

.dropdown-toggle-split {
  height: 35px;
  width: 28px;
  border-radius: 0;
  border: none;
  transform: translateX(-1px);
  font-size: 23px;
  background: #00132e !important;
  &:hover,
  &:active,
  &:focus {
    background: #00132e !important;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  background: transparent !important;
}

.dropdown-menu-dark li {
  cursor: pointer;
}

.label-trabajador {
  color: white;
  font-size: 18px;
}

.contenedor-input-trabajador {
  display: flex;

  &:has(input:focus) {
    box-shadow: 0 0 0 0.18rem rgba(13, 110, 253, 0.25);
  }
}

.contenedor-trabajador {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

h4 {
  font-size: 18px;
}
.contenedor {
  margin-top: 15px;
}

.sweet-alert {
  position: absolute !important;
}

.contenedor {
  min-width: 1126px;
}

.calendario {
  background: #23242a;
  height: 50px;
  color: #45f3ff;
  display: flex;

  svg {
    width: 40px;
    height: inherit;
    fill: #45f3ff;
    &:hover {
      fill: #00adb5;
      cursor: pointer;
    }
  }
}

.columnas {
  user-select: none;
  flex-grow: 1;
  text-align: center;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
}

.esconder {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.fecha {
  transform: translateY(-3px);
  cursor: pointer;
}

.fechastr {
  flex-basis: 400px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.botonexcel {
  padding: 10px;
  background: #064723;
  border-color: #116d3a;
  position: absolute;
  bottom: 10;
  right: 0;
  width: 172px;
  height: 52px;
  &:hover,
  &:focus,
  &:active {
    background: #165a35;
    box-shadow: 0 0 0 0.1rem rgb(60 153 110 / 50%) !important;
  }
}

.botonpdf {
  padding: 10px;
  background: #871a08;
  border-color: #b31616;
  position: absolute;
  bottom: 10;
  right: 180;
  width: 168;
  height: 52;
  &:hover,
  &:focus,
  &:active {
    background: #950303;
    box-shadow: 0 0 0 0.2rem rgba(156, 44, 44, 0.5) !important;
  }
}
.contenedorsuperior {
  position: relative;
}

.margenbotonswal {
  margin-left: 40;
  width: 140;
  height: 50;
  font-weight: 500;
}

.botonconfirm {
  background: #037841;
}

.botondeny {
  background: #0f0924;
}

.botoncancel {
  background: #be0000;
}

.botonswal3,
.botonswal4 {
  width: 200px;
  height: 60px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  &:hover {
    opacity: 0.8;
  }
}

.botonswal4 {
  width: 250px;
  font-family: sans-serif;
  font-size: 18px;
  height: 90px;
}

.btn-primary:disabled {
  background-color: #112438;
}
.btn-success:disabled {
  background: #064723;
}

.divtrabajadorrevisar {
  display: flex;
  justify-content: center;
}

*:disabled {
  opacity: 0.5;
}

th {
  resize: horizontal;
  overflow: auto;
}

.contenedorrestaurar {
  justify-content: center;
  background: #09213a;
  border: 1px solid #036891;
  height: 45px;
  stroke: #009578;
  color: white;
  @include botonRegistrarVentasHoverFocusActive;
}

.restaurarsoloestatabla {
  width: 230px;
  border-radius: 20px;
  margin-left: auto;
  margin-top: 10px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  display: inline-block;
}

.svgrestaurar {
  fill: white;
  width: 23px;
  height: 23px;

  path {
    stroke: #fff;
    stroke-width: 1.2;
  }
}
.svgrotado {
  transform: scaleX(-1) translateX(4px);
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(8px);
  gap: 6px;
}

.configuraciones {
  position: absolute;
  top: 0;
  right: 0;
  background: #23242a;
  border: 1px solid #38383a;
  color: white;
  width: 168px;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
}

.btn-config {
  width: 150px;
  height: 50px;
  font-family: sans-serif;
}

.guardarconfig {
  border-color: #010a18;
  background: #072a5c;
  &:hover {
    outline: none;
    box-shadow: none;
    background-color: #09213a;
  }
}

.cerrarconfig {
  background: #c30012;
  &:hover {
    outline: none;
    box-shadow: none;
    background-color: #8b0a17;
  }
}

.contenedorinferior {
  position: relative;
}

.resumen {
  border-radius: 10px;
  position: absolute;
  right: 0;
}

.restaurarplantilla {
  width: 262px;
  position: absolute;
  bottom: -50;
  right: 0;
  display: none;
}
.modal-backdrop {
  width: 100%;
  height: 100%;
}

.contenedorbotones {
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-items: center;
  row-gap: 50px;
}

.cuartaopcion {
  background: #0b3787;
}

.titulopdf, .tituloresumen {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 50px;
  background: #0f0924;
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
}

.tituloresumen{
  width: 300px;
}

.thresumenproducto {
  width: 200px;
  height: 75px;
  min-width: 200px;
  min-height: 75px;
}

.thresumenvendidoseingresos {
  width: 115px;
  height: 75px;
  min-width: 115px;
  min-height: 75px;
}

.btncontinuar {
  background-color: #0b5ed7;
  &:hover {
    background-color: #003f9d;
  }
}

.btncontinuar2 {
  background-color: #003f9d;
  &:hover {
    background-color: #012a66;
  }
}

.totalresumen {
  position: relative;
  &::after {
    content: "-";
    height: 1px;
    display: block;
    background-color: white;
    position: absolute;
    width: 66%;
  }
}

.dropdown-toggle-split::after,
.dropend .dropdown-toggle-split::after,
.dropup .dropdown-toggle-split::after {
  font-size: 22px;
  transform: rotate(90deg);
}

.contenedorflex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  .botonexcel,
  .botonpdf {
    position: initial;
  }
}

.cajaspinner{
  transform: translateY(3px);
  display: inline-block;
  margin-left: 5px;
}

.spinner-border{
  width: 20px;
  height: 20px;
}

.modal-body{
  max-height: calc(100vh - 250px);
  overflow-x: hidden;
  overflow-y: auto;
}

.grupomodal{
  text-align: center;
}