@use "./partials/dropdown";
@use "./partials/tablacompleta";
@use "./partials/fondo";
@use "./partials/tabs";
@use "./partials/swal";

@mixin botonRegistrarVentasHoverFocusActive {
  &:focus,
  &:active,
  &:hover {
    background-color: #244569;
    box-shadow: 0 0 0 0.1rem rgb(49 132 253 / 50%) !important;
    cursor: pointer;
  }
}

input {
  width: 100%;
  border: none;
  max-width: 200px;
}

.enfocar {
  background: #24c2ce !important;
}

#mostrartabla {
  margin: 0 auto;
}

.añadirproductoyviaje {
  background-color: #112438;
  border: 1px solid #036891;
  height: 45px;
  width: 190px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  @include botonRegistrarVentasHoverFocusActive;
}

.ultima-modificacion {
  color: white;
  font-weight: 600;
  margin-left: auto;
}

.form-switch,
.form-check-label {
  font-size: 16px;
}

.trabajador {
  height: 33px;
  font-size: 15px;
  display: inline-block;
  padding: 6px 10px;
}

.label-trabajador {
  color: white;
  font-size: 18px;
}

.contenedor-trabajador {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

h4 {
  font-size: 18px;
}
.contenedor {
  margin-top: 15px;
}

.sweet-alert {
  position: absolute !important;
}

.contenedor {
  min-width: calc(100vw - 15rem);
}

.calendario {
  background: #23242a;
  height: 50px;
  color: #45f3ff;
  display: flex;
}

.columnas {
  flex-grow: 1;
  text-align: center;
  font-size: 35px;
  justify-content: center;
  align-items: center;
  flex-basis: 0;
}

.esconder {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.fecha {
  transform: translateY(-3px);
  cursor: pointer;
}

.fechastr {
  flex-basis: 400px;
  &::first-letter {
    text-transform: uppercase;
  }
}

.botonexcel {
  padding: 10px;
  background: #064723;
  border-color: #116d3a;
  position: absolute;
  bottom: 0;
  right: 0;
  &:hover,
  &:focus,
  &:active {
    background: #165a35;
    box-shadow: 0 0 0 0.1rem rgb(60 153 110 / 50%) !important;
  }
}
.contenedorsuperior {
  position: relative;
}

.calendario svg {
  width: 40px;
  height: inherit;
  fill: #45f3ff;
  &:hover {
    fill: #00adb5;
    cursor: pointer;
  }
}

.margenbotonswal {
  margin-left: 40;
  width: 120;
}

.botonconfirm {
  background: #037841;
}

.botondeny {
  background: #0f0924;
}

.botoncancel {
  background: #be0000;
}

.botonswal3 {
  width: 200px;
  height: 60px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;

  &:hover {
    opacity: 0.80;
  }
}

.btn-primary:disabled {
  background-color: #112438;
}
.btn-success:disabled {
  background: #064723;
}

.divtrabajadorrevisar {
  display: flex;
  justify-content: center;
}

*:disabled {
  opacity: 0.5;
}

th {
  resize: horizontal;
  overflow: auto;
}

.contenedorrestaurar {
  justify-content: center;
  background: #09213a;
  border: 1px solid #036891;
  height: 45px;
  stroke: #009578;
  color: white;
  @include botonRegistrarVentasHoverFocusActive;
}

.restaurarsoloestatabla {
  width: 230px;
  border-radius: 20px;
  margin-left: auto;
  margin-top: 10px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  display: inline-block;
}

.svgrestaurar {
  fill: white;
  width: 23px;
  height: 23px;

  path {
    stroke: #fff;
    stroke-width: 1.2;
  }
}
.svgrotado {
  transform: scaleX(-1) translateX(4px);
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(8px);
  gap: 6px;
}

.configuraciones {
  position: absolute;
  top: 0;
  right: 0;
  background: #23242a;
  border: 1px solid #38383a;
  color: white;
  width: 168px;
  height: 50px;
  border-radius: 10px;
  font-weight: 500;
}

.btn-config {
  width: 150px;
  height: 50px;
}

.guardarconfig {
  border-color: #010a18;
  background: #072a5c;
  &:hover {
    outline: none;
    box-shadow: none;
    background-color: #09213a;
  }
}

.cerrarconfig {
  background: #c30012;
  &:hover {
    outline: none;
    box-shadow: none;
    background-color: #8b0a17;
  }
}
