.gridUnidadTiempo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  width: 600px;
  margin: 30px auto 0 auto;
  row-gap: 25px;
  align-content: center;
}

.btnOrden {
  font-size: 18px;
}


.divdatepicker {
  width: 500px !important;
}

.btnAnalizar {
  width: 140px;
}

.divseparador {
  display: block;
}

.sections {
  position: relative;
}

custom-switch {
  position: absolute;
  top: 0;
  left: 0;
}


:disabled {
  background-color: inherit !important;
  color: inherit !important;
  border-color: black !important;
}

.btnunidadtiempo {
  padding: 0;
  width: 100px;
  height: 50px;
  margin-left: 0;
}

.comofunciona{
  right: 0;
  top: 0;
  position: absolute;
  a{
    text-decoration: underline;
  }
}
