<title>Calendario</title>
<%- include("layouts/global") %>

<!-- CSS -->
    <link rel="stylesheet" type="text/css" href="calendario1.css">
    <link rel="stylesheet" type="text/css" href="calendario2.css">
    <link rel="stylesheet" type="text/css" href="calendario3.css">


    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet">

    <%- include("layouts/navbar") %>
<main>
    <section id="demos">
        <div class="section-content">
                <div class="log-content">
                    <div class="--noshadow" id="demoEvoCalendar"></div>
                </div>
        </div>
    </section>
</main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="calendario1.js"></script>
    <script src="calendario2.js"></script>

    