<!DOCTYPE html>
<html>

<head>
  <title>Document</title>
  <%- include("layouts/global") %>

  <script defer src="/jquery-3.7.1"></script>
  <script defer src="/jquery-ui-1.13.js"></script>
  <script defer src="/touch.js"></script>
  <script defer src="/draggable.js"></script>
</head>

<body>
  <%- include("layouts/navbar") %>
  <div id="coso">asdfnsaignafsgkasfk daskdf adsfkads fadsk gasdkg asdfkgaifg</div>
</body>

</html>