<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1200px">
  <title>Ver Plantillas</title>
  <%- include("layouts/global") %>
  <link rel="stylesheet" href="/bootstrap-5.2.3.css">
  <link rel="stylesheet" href="/googledrive.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script defer src="/checkbox.js"></script>
  <script defer src="/radiobuttons.js"></script>
  <script defer src="/input.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.es.min.js"></script>
  <script>
    document.addEventListener("click", async e => {
  if (e.target.matches(".guardarconfig")) {
    let s1 = [...$(seleccionado).find(".opcionesarchivos input:checked")].map(x => $(x).closest("custom-checkbox").index())
    if (!s1.length) {
      e.stopImmediatePropagation()
      return Swal.fire("Atención", "Debe haber al menos un archivo qué guardar, selecciona archivo json, bson o ambos", "warning")
    }

    let s2 = $(seleccionado).find(".opcionesradiobutton input:checked").closest("custom-radiobutton").index()
    let v, iframe = $(seleccionado).find("iframe")[0]?.contentDocument, fechaEntre = seleccionado.cal === "entre el"
    if(s2){
      v = iframe ? fechaEntre ? new Intl.ListFormat("es").format([...$(iframe).find("input")].map(x => x.value)) : $(iframe).find("input").val() : [...$(seleccionado).find(".contenidoOpciones input:checked")].map(x => $(x).next().text())
      if (!v) {
        e.stopImmediatePropagation()
        return Swal.fire("Atención", "No has escogido qué registros deseas guardar", "warning")
      }
    }

    let opciones = {}
    opciones.archivos = s1.length === 2 ? "ambos" : s1[0] ? "bson" : "json"
    opciones.guardar = s2 ? { rango: seleccionado.cal, valor: v } : "todos"
    seleccionado.opciones = {...seleccionado.opciones, ...opciones}
    let li = []
    li.push(`Crear ${s1.length === 2 ? "ambos archivos" : `archivo ${s1[0] ? "bson" : "json"}`}`)
    li.push(`Guardar ${s2 ? iframe ? `fechas ${seleccionado.cal} ${v}` : new Intl.ListFormat("es").format(v) : "todos los registros"}`)
    $(seleccionado).find(".listaMensajes").html(li.map(x => `<li class="mensajeOpciones">${x}</li>`))
  }
}, { capture: true })
  </script>
  <script defer src="/bootstrap-5.2.3.js"></script>
  <script defer src="/cuadrorespaldos.js"></script>
  <script defer src="/respaldogoogledrive.js"></script>
</head>

<body>
  <%- include("layouts/navbar") %>
  <main>
    <div class="button"></div>
    <div class="registros">
      <custom-input class="nombreCarpeta" id="guardar" data-texto="Respaldo con fecha: <%= fecha %>">Nombre de la carpeta:</custom-input>
      <button class="btn btn-primary botonazul" id="btnguardar">Guardar</button>
      <cuadro-respaldos data-titulo="Ventas" data-checked="1"></cuadro-respaldos>
      <cuadro-respaldos data-titulo="Plantillas" data-checked="1"></cuadro-respaldos>
      <cuadro-respaldos data-titulo="Camioneros" data-checked="1"></cuadro-respaldos>
      <cuadro-respaldos data-titulo="Registros eliminados"></cuadro-respaldos>
    </div>
  </main>
</body>
</html>