<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <%- include("layouts/global") %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/login.min.css" />
</head>

<body>
  <div class="box">
    <form action="/iniciarSesion" method="POST">
      <div class="form">
        <h2>Iniciar sesión</h2>
        <div class="inputBox">
          <label for="usuario">
            <h3><span style="font-family: FontAwesome;">&#xf007;</span> Usuario</h3>
          </label>
          <input title="Ingresa tu usuario" type="text" required="required" name="usuario" id="usuario" />
        </div>
        <div class="inputBox">
          <label for="contraseña">
            <h3><span style="font-family: FontAwesome;">&#xf084;</span> Contraseña</h3>
          </label>
          <input title="Ingresa tu contraseña" type="password" required="required" name="contraseña" id="contraseña" />
        </div>
        <input type="submit" value="Ingresar" />
        <div class="divolvidemicontraseña"><a href="/recuperarcontraseña"><span class="olvidemicontraseña"><i class="fa-solid fa-key"></i> Olvidé mi contraseña</span></a></div>
      </div>
    </form>
  </div>
  <script>
    let usuario = document.getElementById("usuario");
    usuario.addEventListener('input', function (event) {
      if (usuario.validity.valueMissing)
        usuario.setCustomValidity('Por favor escribe un nombre de usuario');
      else
        usuario.setCustomValidity('');
    });

    let contraseña = document.getElementById("contraseña");
    contraseña.addEventListener('input', function (event) {
      if (contraseña.validity.valueMissing)
        contraseña.setCustomValidity('Por favor escribe una contraseña');
      else
        contraseña.setCustomValidity('');
    });

    usuario.addEventListener("keydown", function (event) {
      if (event.key === "Enter") {
        event.preventDefault();
        contraseña.focus();
      }
    });
  </script>

  <% if (cantidadMaximaInicioSesion.length> 0) { %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <style>
      body>#toast-container>div:hover {
        -webkit-box-shadow: 0 0 12px #999;
        box-shadow: 0 0 12px #999;
        opacity: 0.9;
      }
    </style>

    <script src="/jquery-3.6.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script defer>
      toastr.options = {
        "closeButton": true,
        "progressBar": true,
        "positionClass": "toast-bottom-full-width",
        "preventDuplicates": true,
        "timeOut": "100000",
        "extendedTimeOut": "100000",
      }
    </script>
    <% if (String(cantidadMaximaInicioSesion)==="Solo te queda un intento" ) { %>
      <script defer>
        toastr["warning"]("Solo te queda un intento inválido más, si escribes mal este intento tendrás que esperar 15 minutos para volver a intentarlo de nuevo", "Atención");
      </script>
      <% } %>
      <% else if (String(cantidadMaximaInicioSesion)==="Se ha superado la cantidad maxima" ) { %>
        <%- include('layouts/toastIntentosMaximosError.ejs', {tiempoQueQueda}) %>
      <% } %>
    <% } %>


  <% if (errorInicioSesion.length> 0) { %>
    <script>
      window.addEventListener("load", (event) => {
        '<%if (String(errorInicioSesion) === "El usuario al que desea acceder no existe") {%>'
        usuario.setCustomValidity('El usuario al que desea acceder no existe');
        usuario.reportValidity();
        '<% } %>'

        '<%if (String(errorInicioSesion) === "Contraseña incorrecta") {%>'
        contraseña.setCustomValidity('Contraseña incorrecta');
        contraseña.reportValidity();
        '<% } %>'
      });
    </script>
  <% } %>
</body>

</html>