<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  <%- include("layouts/global") %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/login.min.css" />
</head>

<body>
  <div class="box">
    <form action="/iniciarSesion" method="POST">
      <div class="form">
        <h2>Iniciar sesión</h2>
        <div class="inputBox">
          <label for="usuario"><h3><span>&#xf007;</span> Usuario</h3></label>
          <input title="Ingresa tu usuario" type="text" required name="usuario" id="usuario">
        </div>
        <div class="inputBox">
          <label for="contraseña"><h3><span>&#xf084;</span> Contraseña</h3></label>
          <input title="Ingresa tu contraseña" type="password" required name="contraseña" id="contraseña">
        </div>
        <input type="submit" value="Ingresar">
        <div class="divolvidemicontraseña"><a href="/recuperarcontraseña"><span class="olvidemicontraseña"><i class="fa-solid fa-key"></i> Olvidé mi contraseña</span></a></div>
      </div>
    </form>
  </div>
  <script>
    let usuario = document.getElementById("usuario")
    let contraseña = document.getElementById("contraseña")
    let validarUsuario = q => usuario.setCustomValidity(usuario.validity.valueMissing ? 'Por favor escribe un nombre de usuario' : '')
    let validarContraseña = q => contraseña.setCustomValidity(contraseña.validity.valueMissing ? 'Por favor escribe una contraseña' : '')
    usuario.addEventListener('input', validarUsuario)
    contraseña.addEventListener('input', validarContraseña)
    usuario.addEventListener("keydown", e => {
      if (e.key === "Enter") {
        e.preventDefault()
        contraseña.focus()
      }
    })

    document.querySelector('[type="submit"]').addEventListener("click", q => {
      validarUsuario()
      validarContraseña()
    })
  </script>

<% if (errorInicioSesion) { %>
  <script>
    addEventListener("load", q => {
    '<%if (errorInicioSesion === "Usuario no existe") {%>'
      usuario.setCustomValidity('El usuario al que desea acceder no existe')
      usuario.reportValidity()
    '<% } %>'

    '<%if (errorInicioSesion === "Contraseña incorrecta") {%>'
      contraseña.setCustomValidity('Contraseña incorrecta')
      contraseña.reportValidity()
    '<% } %>'
    })
  </script>
<% } %>

<% if (intentosRestantes) { %>
  <%- include("layouts/toastIntentosMaximosError.ejs", {intentosRestantes, tiempoQueQueda, correoEnviado: undefined}) %>
<% } %>
</body>
</html>