<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1100px">
  <title>Ver Plantillas</title>
  <%- include("layouts/global") %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/verplantillas.min.css" />

  <script defer src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
  <script defer src="/verplantillas.js"></script>
  <script defer src="/tablasortable.js"></script>
</head>

<body>
  <%- include("layouts/navbar") %>

  <main>
    <div class="filasuperior">
      <div></div>
      <div class="button2">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <input class="botontitulo" type="button" value="Desde aquí puedes ver tus plantillas" />
      </div>
      <div>
        <a href="/plantillas/crear">
          <button id="botoncrear" type="button" type="button" class="btn btn-primary botonazul botoncrear">Crea tus propias plantillas <span class="flecha">
              <svg xmlns="http://www.w3.org/2000/svg" fill="white" width="20" height="20"><path d="M20 0zm-8.344 14.709-1.41-1.418L12.547 11H4V9h8.673l-2.38-2.379 1.414-1.414 4.737 4.736z" /></svg>
            </span></button>
        </a>
      </div>
    </div>
    <div class="contenedormedio">
      <div class="custom-control custom-switch">
        <input class="custom-control-input" type="checkbox" id="switchOrdenarFilas"/>
        <label class="custom-control-label" for="switchOrdenarFilas">Reordenar filas</label>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th class="nombreplantilla">Nombre de la plantilla</th>
          <th class="ultimaedicion">Última edición</th>
          <th>Default</th>
          <th>Ver</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody id="cuerpotabla">
        <% plantillas.forEach(function(plantilla){ %>
        <tr>
          <td><%=plantilla.nombreplantilla%></td>
          <td><%=plantilla.ultimaedicion%></td>
          <td><button class="fave <% if(plantilla.esdefault) { %> faved<% } %>"></button></td>
          <td><svg class="svgver" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M160 256C160 185.3 217.3 128 288 128C358.7 128 416 185.3 416 256C416 326.7 358.7 384 288 384C217.3 384 160 326.7 160 256zM288 336C332.2 336 368 300.2 368 256C368 211.8 332.2 176 288 176C287.3 176 286.7 176 285.1 176C287.3 181.1 288 186.5 288 192C288 227.3 259.3 256 224 256C218.5 256 213.1 255.3 208 253.1C208 254.7 208 255.3 208 255.1C208 300.2 243.8 336 288 336L288 336zM95.42 112.6C142.5 68.84 207.2 32 288 32C368.8 32 433.5 68.84 480.6 112.6C527.4 156 558.7 207.1 573.5 243.7C576.8 251.6 576.8 260.4 573.5 268.3C558.7 304 527.4 355.1 480.6 399.4C433.5 443.2 368.8 480 288 480C207.2 480 142.5 443.2 95.42 399.4C48.62 355.1 17.34 304 2.461 268.3C-.8205 260.4-.8205 251.6 2.461 243.7C17.34 207.1 48.62 156 95.42 112.6V112.6zM288 80C222.8 80 169.2 109.6 128.1 147.7C89.6 183.5 63.02 225.1 49.44 256C63.02 286 89.6 328.5 128.1 364.3C169.2 402.4 222.8 432 288 432C353.2 432 406.8 402.4 447.9 364.3C486.4 328.5 512.1 286 526.6 256C512.1 225.1 486.4 183.5 447.9 147.7C406.8 109.6 353.2 80 288 80V80z"/></svg></td>
          <td><svg class="svgeditar" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.548 3.452a1.542 1.542 0 0 1 0 2.182l-7.636 7.636-3.273 1.091 1.091-3.273 7.636-7.636a1.542 1.542 0 0 1 2.182 0zM4 21h15a1 1 0 0 0 1-1v-8a1 1 0 0 0-2 0v7H5V6h7a1 1 0 0 0 0-2H4a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1z"/></svg></td>
          <td><svg class="svgeliminar" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="red" class="bi bi-trash" viewBox="0 0 16 16"> <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" /> <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" /></svg></td>
        </tr> <% }); %>
      </tbody>
    </table>

    <div class="contenedorinferior">
      <input class="btn btn-primary botonazul" type="button" value="Guardar orden" id="guardar" />
    </div>
  </main>
</body>
</html>